---
layout: default.hbs
---
<table class="main dark hero">
  <tr>
    <td class="wrapper" colspan="2">
    <font color="#ffffff">
      <h1>
        Nice, FIRSTNAME.
    </h1>
    <p>
        Now that you’ve created your first Job, you’re well on your way to attracting great candidates. The thing about great candidates, though, is every employer wants them.
      </p>
      <p>
        Looking for an edge? Try these tips.
      </p>
      </font>
    </td>
  </tr>
</table>

<table class="main jot2-1">
  <tr>
    <td class="wrapper">
      <h3>
          Tip #1:<br />
          Buy Premium<br />Job Postings
      </h3>
      <p>
          Make your job posts stand out from the rest with premium positioning on the most popular—and powerful—paid job boards.
      </p>
      <p class="help-p">
          Learn more about
          <a href="https://success.jazz.co/s/article/Paid-Job-Board-Syndication1">Premium Job Boards</a>
      </p>
    </td>
    <td class="image" width="302" height="360">
        <img src="https://s3.amazonaws.com/f.cl.ly/items/0x0T0D3q153m3J0W0a2V/JOT2-1.png" width="302" /></td>
  </tr>
</table>

<table class="main jot2-2 dark">
  <tr>
    <td class="image" style="height: 240px;">
      <img src="https://s3.amazonaws.com/f.cl.ly/items/1f0W3Z1M0m2w2A2z1Y1Z/JOT2.png" />
    </td>
  </tr>
  <tr>
    <td class="wrapper" style="padding-top: 0 !important;">
    <font color="#ffffff">
      <h3>
        Tip #2:<br />
        Brand Your Careers Page
      </h3>
      <p>
        Jazz makes it easy to keep your careers page current and on brand. Plus, branding your careers website
        increases the conversion of visitors to your job site.
      </p>
      <p class="help-p">
        Learn more about
        <a href="https://success.jazz.co/s/article/Website-Integration">Branding your Careers Page</a>
      </p>
      </font>
    </td>
  </tr>
</table>

<table class="main dark helpers">
  <tr><td class="wrapper">
  <h4 class="help-p">Looking for help?</h4>
    <table class="help">
    <font color="#ffffff">
        <tr>
        <td>
            Sign up for one of our weekly <strong>live training sessions</strong>.
        </td>
        <td>
            {{{ button type="tertiary" align="right" url="https://attendee.gotowebinar.com/rt/2387056603494372865" title="SIGN UP" }}}
        </td>
        </tr>
        <tr>
            <td>
                Questions or Issues? Our <strong>support team</strong> is here for you.
            </td>
            <td>
                {{{ button type="tertiary" align="right" url="mailto:support@jazz.co" title="EMAIL US" }}}
            </td>
        </tr>
        </font>
    </table>
</table>
