---
layout: default.hbs
---
<table class="main dark hero">
  <tr>
    <td class="wrapper" colspan="2">
    <font color="#ffffff">
      <h1 style="margin-bottom: 0; padding-bottom: 0;">
        FIRSTNAME, what's wrong?
      </h1>
      </font>
    </td>
  </tr>
</table>

<table class="main jot2-1">
  <tr>
    <td class="wrapper">
      <h3>You Jazz Free Trial misses you.</h3>
      <p>
        We noticed that you haven't yet posted a job in Jazz. Do you need help getting started? If not, why not
        post your first job and start getting candidates today?
      </p>
      <p>
        {{{ button type="primary" align="full" url="https://app.jazz.co/app/v2/job/create" title="POST YOUR FIRST JOB" }}}
      </p>
      <br />
      <h2>
        Useful Links
      </h2>
      <br />
      <p class="help-p">
        Need a tutorial? Learn how to <a href="https://success.jazz.co/s/article/How-do-I-create-or-post-a-job">post a job using Jazz.</a>
      </p>
      <p class="help-p">
        Writer's block? Here's some tips for <a href="https://success.jazz.co/s/article/How-do-I-create-or-post-a-job">writing a good job description</a>.
      </p>
    </td>
  </tr>
</table>

<table class="main dark helpers">
  <tr><td class="wrapper">
  <h4 class="help-p">Training & Customer Support</h4>
    <table class="help">
        <tr>
        <td>
        <font color="#ffffff">
            Sign up for one of our weekly <strong>live training sessions</strong>.
        </td>
        <td>
            {{{ button type="tertiary" align="right" url="https://attendee.gotowebinar.com/rt/2387056603494372865" title="SIGN UP" }}}
        </td>
        </tr>
        <tr>
            <td>
                Have a question? Email our <strong>support team</strong>.
            </td>
            <td>
                {{{ button type="tertiary" align="right" url="mailto:support@jazz.co" title="EMAIL US" }}}
            </td>
        </tr>
        </font>
    </table>
</table>
