/* -------------------------------------
    BUTTONS
------------------------------------- */

.btn {
  width: 100%;

  > tr > td {
    padding-bottom: 15px;
  }

  table {
    width: auto;
  }

  table td {
    background-color: #ffffff;
    border-radius: $btn-br;
    text-align: center;
  }

  a{
    background-color: #ffffff;
    border: solid 1px $primary-color;
    border-radius: $btn-br;
    color: $primary-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: capitalize;
  }
}

// Primary call to action button
.btn-primary {

  table td {
    background-color: #d21492;
  }

  a{
    background-color: #d21492;
    border-color: #d21492;
    color: #ffffff !important;
  }
  a:link, a:visited, a:active {
    color: #ffffff !important;
  }
}

// Secondary button
.btn-secondary {

  table td {
    background-color: $primary-color;
  }

  a{
    background-color: $primary-color;
    border-color: $primary-color;
    color: #ffffff !important;
  }
  a:link, a:visited, a:active {
    color: #ffffff !important;
  }
}

// Secondary button
.btn-sparkhire {

  table td {
    background-color: #f47321;
  }

  a{
    background-color: #f47321;
    border-color: #f47321;
    color: #ffffff !important;
  }
  a:link, a:visited, a:active {
    color: #ffffff !important;
  }
}

.btn-inline {
    width: auto !important;
    display: inline-block !important;
    table td {
    background-color: $primary-color;
  }

  a{
    background-color: $primary-color;
    border-color: $primary-color;
    color: #ffffff !important;
  }
  a:link, a:visited, a:active {
    color: #ffffff !important;
  }
}

.btn-inline-secondary {
    width: auto !important;
    display: inline-block !important;
    table td {
      background-color: #d21492;
    }
  a{
    background-color: #d21492;
    border-color: #d21492;
    color: #ffffff !important;
  }
  a:link, a:visited, a:active {
    color: #ffffff !important;
  }
}


.btn-tertiary {
    td {
        padding: 0 !important;
    }
    table td {
        padding: 0 !important;
        background-color: #8d52a4;
  }
  a{
    padding: 4px 8px !important;
    background-color: #8d52a4;
    border-color: #8d52a4;
    color: #ffffff !important;
  }
  a:link, a:visited, a:active {
    color: #ffffff !important;
  }
}