/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 35px; // For consistent padding
$grey: #2b333a; // Background color
$width: 580px; // Width of the content area
$br: 4px; // Border radius
$btn-br: 4px; // Border radius
$primary-color: #8e58a4; // Primary color for buttons and links
$font-color: #2b333a; // Default font color
$jotprefix: 'http://info.jazz.co/rs/786-OHD-890/images/';
