/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */

body,
.body {
  background-color: $grey;
  width: 100%;
}

.container {
  display: block;
  margin: 0 auto !important;
  max-width: $width;
  width: auto !important;
  width: $width;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  display: block;
  margin: 0 auto;
  max-width: $width;
}


/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */

.main {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: $padding;
}

.header {
  margin-bottom: $padding;
  margin-top: $padding;
  width: 100%;
}

.footer {
  clear: both;
  width: 100%;

  * {
    color: #87919b;
    font-size: 12px;
  }

  td {
    padding: 20px 0;
  }
}
