/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */

table[class=body]{
  @media only screen and (max-width: $width+40) {
    // Hide Images from Mobile
    td.image {
        display: none;
    }

    .help {
        td {
            width: 100% !important;
        }
    }

    // Spacing
    .content {
        padding: 10px !important;
    }
    .wrapper {
      padding: 35px;
    }

    .container {
      padding: 0 !important;
      width: 100% !important;
    }

    // Buttons
    .btn table {
      width: 100% !important;
    }
  }
}
