---
layout: default.hbs
---
<table class="main dark hero">
  <tr>
    <td class="wrapper" colspan="2">
    <font color="#ffffff">
        <h1>
            FIRSTNAME, thanks.
        </h1>
        <p>
            We appreciate you giving Jazz ONE a try. Your trial will be over before you know it, so let's get started. Be sure to save this email for future reference!
        </p>
    </font>
    </td>
  </tr>
  </table>
  <table class="main dark jot1-1">
  <tr>
    <td class="wrapper">
    <font color="#ffffff">
        <h3>
            Step 1:<br />Post your first job.
        </h3>
        <p>
            Nothing happens until you post your first job in Jazz. Post a job today and we'll send your job to free job boards within 24 hours (all jobs must be reviewed and approved).
        </p>
        <p class="help-p">Learn how to <a href="https://success.jazz.co/s/article/How-do-I-create-or-post-a-job">post a job.</a></p>
        {{{ button type="primary" align="left" url="https://app.jazz.co/app/v2/job/create" title="POST YOUR FIRST JOB" }}}
    </font>
    </td>
    <td class="image" style="vertical-align:middle; width:128px;">
        <img src="https://s3.amazonaws.com/f.cl.ly/items/2B0I1l191S3o2x3O3h2B/JOT1-3.png"/>
    </td>
  </tr>
  </table>
  <table class="main jot1-2">
  <tr>
    <td class="wrapper" colspan="1">
        <h3>
            Step 2: <br />
            Invite your team.
        </h3>
        <p>
            Jazz makes it easy to work with your coworkers on screening resumes and making great hires. You should invite
            your coworkers so they can work with you, or even post their own jobs.
        </p>
        {{{ button type="primary" align="left" url="https://app.jazz.co/app/v2/people" title="ADD YOUR COWORKERS" }}}
    </td>
    <td class="image" style="vertical-align:middle; width:264px;">
        <img src="https://s3.amazonaws.com/f.cl.ly/items/1m0i0200243L43011p07/JOT1-2.png"/>
    </td>
  </tr>
</table>
<table class="main white">
    <tr><td class="wrapper">
        <h3>
            What's Next?
        </h3>
        <p class="help-p">Recruiting in teams? Learn how to <a href="https://success.jazz.co/s/article/Working-with-Groups-and-Hiring-Teams">set up a job's hiring team</a>.
        <p class="help-p">Want more job traffic? Learn how to <a href="https://success.jazz.co/s/article/Paid-Job-Board-Syndication1">purchase paid job postings.</a>
        <p class="help-p">Update your website. Learn how to <a href="https://success.jazz.co/s/article/Website-Integration">post jobs to your own website.</a>
        <p class="help-p">Build your employment brand. <a href="https://success.jazz.co/s/article/Jazz-s-Deep-Dive-Webinar-Series-How-to-Customize-Your-Careers-Page">Customize your careers website.</a>
    </td></tr>
</table>
<table class="main dark helpers">
  <tr><td class="wrapper">
  <font color="#ffffff">
  <h4 class="help-p">Training &amp; Customer Support</h4>
    <table class="help">
        <tr>
        <td>
            Sign up for one of our weekly <strong>live training sessions</strong>.
        </td>
        <td>
            {{{ button type="tertiary" align="right" url="https://attendee.gotowebinar.com/rt/2387056603494372865" title="SIGN UP" }}}
        </td>
        </tr>
        <tr>
            <td>
                Have a question? Email our <strong>support team</strong>.
            </td>
            <td>
                {{{ button type="tertiary" align="right" url="mailto:support@jazz.co" title="EMAIL US" }}}
            </td>
        </tr>
    <font color="#ffffff">
    </table>
</table>
