---
layout: default.hbs
---
<table class="main dark hero">
  <tr>
    <td class="wrapper" colspan="2">
    <font color="#ffffff">
      <h1>
        FIRSTNAME, they&rsquo;re waiting!
      </h1>
      <p>
        Your efforts using Jazz have paid off. Your job is already attracting candidates, and you’re well on your way to finding your next hire!
      </p>
      </font>
    </td>
  </tr>
</table>
<table class="main white">
  <tr>
    <td class="wrapper">
      <h2 style="margin-top: 0; padding-top: 0;">
        It's all about speed
      </h2>
      <p>
        Great candidates are on the market for less than 10 days. The sooner you screen your resumes, the greater the odds a great candidate won't be lost to another company.
      </p>
    </td>
  </tr>
</table>
<table class="main jot4-1">
  <tr>
    <td class="wrapper">
      <h3>
        Screen Candidates From Your Phone
      </h3>
      <p>
        Our mobile-friendly <strong>Quick Screen</strong> makes it easy for your team to give feedback and disposition candidates, anytime, anywhere, on any device,
        so you can move faster at making the best talent your own.
      </p>
      {{{ button type="primary" align="left" url="https://app.jazz.co/app/v2/quickscreen" title="LAUNCH QUICK SCREEN" }}}
      <p class="help-p">
        Learn more about <a href="https://success.jazz.co/s/article/Quick-Screen">Candidate Quick Screen</a>.
      </p>
    </td>
    <td class="image" width="200">
      <img src="https://s3.amazonaws.com/f.cl.ly/items/0f3C2x1d0h2g1V440J10/JOT4.png" width="200">
    </td>
  </tr>
</table>
<table class="main dark jot1-1">
  <tr>
    <td class="wrapper">
    <font color="#ffffff">
      <h3>
        Search Your Candidate Database
      </h3>
      <p>
        Jazz has automatically organized your candidates into individual profiles and parsed the resumes so they're searchable by keyword.
        You and your team can also perform category and boolean searches to filter candidates.
      </p>
      <p class="help-p">
        Learn more about <a href="https://success.jazz.co/s/article/Searching-for-Candidates">quickly sorting and screening candidates</a>.
      </p>
      </font>
    </td>
  </tr>
</table>

<table class="main jot4-2">
  <tr>
    <td class="wrapper">
      <h3>Get Even More Great Candidates</h3>
      <p>
        Employers compete fiercely for great candidates. The best way to get an edge—and increase your odds of finding your
        next great performer—is to post jobs to Premium job boards.
      </p>
      <p class="help-p">
        Learn how Jazz can <a href="https://success.jazz.co/s/article/Paid-Job-Board-Syndication1">help you post your Jobs</a> to the places candidates are searching most.
      </p>
    </td>
    <td class="image" width="280">
      <img src="https://s3.amazonaws.com/f.cl.ly/items/1D3I1D2W0l0g3y3B1R1v/JOT4-2.png" width="280" />
    </td>
  </tr>
</table>

<table class="main dark helpers">
  <tr><td class="wrapper"><font color="#ffffff">
  <h4 class="help-p">Looking for help?</h4>
    <table class="help">
        <tr>
        <td>
            Sign up for one of our weekly <strong>live training sessions</strong>.
        </td>
        <td>
            {{{ button type="tertiary" align="right" url="https://attendee.gotowebinar.com/rt/2387056603494372865" title="SIGN UP" }}}
        </td>
        </tr>
        <tr>
            <td>
                Have a question? Email our <strong>support team</strong>.
            </td>
            <td>
                {{{ button type="tertiary" align="right" url="mailto:support@jazz.co" title="EMAIL US" }}}
            </td>
        </tr>
        </font>
    </table>
</table>
