---
layout: default.hbs
---
<table class="main dark hero">
  <tr>
    <td class="wrapper">
    <font color="#ffffff">
      <h1>
        FIRSTNAME, we're worried.
      </h1>
      <p>
        We haven’t seen you create a job in Jazz yet, and we’re wondering if something is wrong. Are you having trouble with anything?
      </p>
      </font>
    </td>
  </tr>
</table>
<table class="main white">
  <tr>
    <td class="wrapper">
        <h3>We're here to help.</h3>
        <p>
           Let us know what we can do to help you succeed, and we’ll get you whatever you need to make Jazz work for you.
        </p>

        <p>
            {{{ button type="primary" align="full" url="https://app.jazz.co/app/v2/job/create" title="POST A JOB" }}}
        </p>
        <br />
        <h2>
            Useful Links
        </h2>
        <br />
        <p class="help-p">Need a tutorial? Learn how to <a href="https://success.jazz.co/s/article/How-do-I-create-or-post-a-job">post a job using Jazz.</a></p>
        <p class="help-p">Writer's block? Here's some tips for <a href="https://success.jazz.co/s/article/How-do-I-create-or-post-a-job">writing a good job description</a>.</p>
    </td>
    </tr>
</table>
<table class="main dark helpers">
  <tr><td class="wrapper"><font color="#ffffff">
  <h4 class="help-p">Training & Customer Support</h4>
    <table class="help">
        <tr>
        <td>
            Sign up for one of our weekly <strong>live training sessions</strong>.
        </td>
        <td>
            {{{ button type="tertiary" align="right" url="https://attendee.gotowebinar.com/rt/2387056603494372865" title="SIGN UP" }}}
        </td>
        </tr>
        <tr>
            <td>
                Have a question? Email our <strong>support team</strong>.
            </td>
            <td>
                {{{ button type="tertiary" align="right" url="mailto:support@jazz.co" title="EMAIL US" }}}
            </td>
        </tr>
        </font>
    </table>
</table>
