---
layout: default.hbs
---
<table class="main dark hero">
  <tr>
    <td class="wrapper">
      <font color="#ffffff">
      <h1 style="margin: 0; padding: 0 !important;">
        Your Jazz Free Trial is coming to a close tomorrow.
        <strong>Let’s keep this good thing going.</strong>
      </h1>
      </font>
    </td>
  </tr>
</table>
<table class="main dark last" style="background-color: #7e318b; background-image: url('http://info.jazz.co/rs/786-OHD-890/images/final-emails@1x.png');">
  <tr>
    <td class="wrapper">
      <font color="#ffffff">
      <h2>Subscribe now to keep recruiting with Jazz</h2>
      <br />
      <p>
      For only $149 per month you can retain full access to the candidates you’ve been able to attract. Join the thousands
      of companies that have chosen Jazz to help them make great hires.
      </p>
      <p>
      No contracts. No commitments. Cancel AND renew at any time.
      </p>
      <p>
      {{{ button type="primary" align="full" url="https://app.jazz.co/app/account/plans" title="SUBSCRIBE IN 60 SECONDS" }}}
    </p>
    </font>
    </td>
    </tr>
</table>