---
layout: default.hbs
---
<table class="main dark hero">
  <tr>
    <td class="wrapper">
        <font color="#ffffff">
      <h1>
        FIRSTNAME, we’ll be waiting!
      </h1>
      <p>
        You might not have realized your trial of Jazz is now over. Don’t worry, though — when you do subscribe to Jazz, all your candidates and resumes will be right here waiting for you.
      </p>
      </font>
    </td>
  </tr>
</table>
<table class="main white last">
  <tr>
    <td class="wrapper">
        <p style="margin: 0 0 15px 0 !important;">
            Remember, there’s no contract with Jazz ONE, so you can use the platform for as long as you need, for only $149 a month.
        </p>
        {{{ button type="primary" align="full" url="https://app.jazz.co/app/account/plans" title="SUBSCRIBE NOW" }}}
    </td>
    </tr>
</table>