---
layout: default.hbs
---

<table class="main purple interviews dark first">
  <tr>
    <td class="wrapper" colspan="1">
      <h3 style="margin-bottom: 0 !important;">Streamlining How You Create Jobs</h3>
    </td>
  </tr>
</table>
<table class="main white last">
  <tr>
    <td class="wrapper" colspan="1">
      <p>
        On <strong>Monday, November 23</strong>, creating jobs in Jazz will become simpler and more streamlined. It still will be easy to create jobs, but you’ll notice new enhancements. Major job creation steps, including Job Posting, Job Application, Hiring Workflow, and Hiring Team, will be conveniently located in one place, with tabs to help you move through the job set-up process. In addition, a new job application preview will help you make more informed decisions before you post the job.
      </p>

      <img src="https://s3.amazonaws.com/f.cl.ly/items/0f2w2j343Z1a0V2L2Q0M/job-creation-sm@2x.png" style="margin-bottom: 20px;" />

      <p>
          These new enhancements will allow you to create jobs faster and easier.
      </p>

      <p class="help-p">
          To learn more, <a href="https://success.jazz.co/s/article/Job-Creation">read this article</a> or <a href="https://success.jazz.co/s/article/Jazz-Deep-Dive-Webinar-Schedule">attend our webinar</a> on <strong>December 1</strong> or <strong>December 3</strong>.
      </p>

    </td>
  </tr>
</table>