---
layout: default.hbs
---

<table class="main me-dash rounded">
  <tr>
    <td class="wrapper" colspan="1">
      <h3>
        Ready, Set, <strong>Launch!</strong>
      </h3>
      <p>
        On Sep 28th, we're introducing the Launch page — a personalized page that gives each team member just the right information to launch into the key actions they need to take.
      </p>
      <p>
        This single, simplified view displays information across jobs and across candidates. It’s the first screen you’ll see when logging in, and an easy reference point to return to at any time with one click.
      </p>
    </td>
  </tr>
  <tr>
    <td class="wrapper" style="padding: 0;">
      <img src="https://s3.amazonaws.com/f.cl.ly/items/0E3l0e0B1p2T1w1X3n3g/launch-image.png">
    </td>
  </tr>
  <tr>
    <td class="wrapper" style="padding-top: 0;">
      <p>
        <strong>USE YOUR LAUNCH PAGE TO:</strong>
      </p>
      <ul>
        <li>Get quick access to your open jobs.</li>
        <li>See all of your upcoming interviews and start them right from here.</li>
        <li>Work through your task list and unread messages.</li>
        <li>Review and reply to @mentions from your team.</li>
        <li>Stay up-to-date on your team’s upcoming interviews and the tasks that you’ve delegated.</li>
        <li>For Admins — see a company-wide snapshot of key recruiting milestones like Jobs Opened, Interviews Completed, and Candidates Hired.</li>
        <li>And more!</li>
      </ul>
      <p class="help-p">
        The Launch page goes live on <strong>Monday, Sept 28th</strong>. To learn more about it now, read the <a href="https://success.jazz.co/s/article/Launch-Page-Overview">support article</a>.
      </p>
    </td>
  </tr>
</table>