---
layout: default.hbs
---
<table class="main dark hero">
  <tr>
    <td class="wrapper" colspan="1">
      <center>
          <h1>Reporting in Action.</h1>
          <a href="https://www.youtube.com/watch?v=rJXg5PIzFhY&feature=youtu.be">
              <img style="margin-top: 15px;" src="http://info.jazz.co/rs/786-OHD-890/images/reporting-npi-video-placeholder.png"/>
          </a>
      </center>
    </td>
  </tr>
</table>
<table class="main me-dash last">
  <tr>
    <td class="wrapper" colspan="1">
      <p>
        As we mentioned earlier this week, we’ll be unveiling our new Reports section on <strong>Monday Oct 5th</strong>. Take a look at our quick overview video to see these new reports in action
      </p>
      <p>
        These reports will help you answer important questions about the quality and efficiency of your recruiting processes and hiring teams--all in a full-screen viewing experience. With this new framework, your company’s data comes to the forefront as a powerful tool to make informed decisions about how and who you hire.
      </p>
      <p class="help-p">
        Want to know more? Read the <a href="https://success.jazz.co/s/article/Reports-Dashboard-Overview">support article</a> or sign up for our <a href="https://attendee.gotowebinar.com/register/5333245291441903617" style="color: #d23591 !important;">webinar</a> next week.
      </p>
    </td>
  </tr>
</table>