---
layout: default.hbs
---

<table class="main me-dash rounded">
  <tr>
    <td class="wrapper" colspan="1">
      <h3>
        Reporting Revamped.
      </h3>
      <p>
        On Oct 5th, we’ll be unveiling our new Reports section. Based on customer input, we’ve revamped our reporting framework to provide a more intuitive set of standard reports that will help you answer important questions about the quality and efficiency of your recruiting processes and hiring teams.
    </p>
      <p>
        These reports provide great information as is, or act as a starting point for you to dig deep and run comparisons across jobs, departments, hiring managers, and candidates. With this new framework, your company’s data comes to the forefront as a powerful tool to make informed decisions about how you hire.
      </p>
      <img src="https://s3.amazonaws.com/f.cl.ly/items/3v1s1i0o2x1d3q090C0F/reporting-npi-day-1.png" alt="Jazz Reporting" style="margin-top: 15px;" />
      <p>
          <strong>NOW, WITH REPORTS, YOU CAN:</strong>
      </p>
      <ul>
        <li>Discover the best sources for particular jobs or departments.</li>
        <li>Identify recruiters and referrers that deliver you the highest quality candidates.</li>
        <li>Look across key recruiting milestones to understand how candidates are moving through the pipeline.</li>
        <li>Compare time to hire across jobs, departments, or hiring managers.</li>
        <li>Understand time to fill for positions across your company.</li>
        <li>Save your favorite reports to a short list for quick reference.</li>
        <li>Create advanced custom reports and access our legacy reports.</li>
        <li>View data in full-screen and easily navigate between reports.</li>
        <li>Experience quicker than ever loading times for your report data.</li>
      </ul>
      <p>
          This reporting refresh will go live on Monday, October 5th. To learn more about it now, read the <a href="https://success.jazz.co/s/article/Reports-Dashboard-Overview">support article</a>. And watch for a quick overview video later this week.
      </p>
      <p>
        And that’s not all! In the coming weeks, we’ll be migrating more of our legacy reports over to this new framework and adding even more new reports to help you understand your team’s performance and optimize your recruiting processes. Stay tuned!
      </p>
    </td>
  </tr>
</table>