---
layout: default.hbs
---

<table class="main purple interviews dark first">
  <tr>
    <td class="wrapper" colspan="1">
      <h1>More Flexibile Interviews</h1>
      <h6>
        <em>&hellip;and a <strong>SparkHire</strong> video integration</em>
      </h6>
    </td>
  </tr>
</table>
<table class="main lgrey">
  <tr>
    <td class="wrapper" colspan="1">
      <p>
        On <strong>Oct 19</strong>, we’re making it easier to schedule, prepare, and conduct interviews across the app. Whether you plan ahead with workflow helpers or do your interviews ad hoc, we’ve got you covered. Soon you’ll be able to quickly add or create interviews on a candidate profile, create custom question types, and &mdash; for Google calendar users &mdash; invite teammates to sync their calendars without logging into Jazz.
      </p>
      <img src="http://info.jazz.co/rs/786-OHD-890/images/interviews-npi-screen.png" style="border: none;"/>
      <p>
        <strong>
          With this added flexibility to Interviews, you can:
        </strong>
      </p>
      <p>
        <ul>
          <li>Add an interview while on a candidate’s profile, even if it doesn’t exist in the job workflow.</li>
          <li>Create new interview templates without going to the Admin section.</li>
          <li>Build interviews with different question types, including text-based, multiple choice, and numeric entry.</li>
          <li>Add and reorder questions during the interview directly in the Interview Guide.</li>
          <li>See whether people have accepted or declined an interview invitation from the Interview tab.</li>
          <li>Reschedule and cancel interviews from the Interview tab.</li>
          <li><strong>Special Note</strong>: Customers who use Google calendar can send a link to their teammates that will allow them to sync their calendars without needing to sign into Jazz.</li>
        </ul>
      </p>
      {{{ button type="secondary" align="middle" url="https://success.jazz.co/s/article/Getting-Started-with-Interviews-New-Users" title="LEARN MORE" }}}
      <center>
      <p><sub>in our knowledge base article.</sub></p>
      </center>
    </td>
  </tr>
</table>

<table class="main white">
  <tr>
    <td class="wrapper">
    <center>

      <img src="http://info.jazz.co/rs/786-OHD-890/images/sparkhire.png" style="margin-top: 0; margin-bottom:20px"/>
      <img src="http://info.jazz.co/rs/786-OHD-890/images/interview.gif" />

      <p style="margin-top: 30px; margin-bottom: 30px;">
        We’re pleased to announce a new integration with SparkHire. This video interviewing platform allows you to see candidates in action as they answer interview questions. Jazz customers with SparkHire accounts will be able to set up one-way video interviews through Jazz. These interviews can be added directly to a candidate’s profile or built into workflows at the job level.
      </p>
      {{{ button type="sparkhire" align="middle" url="https://success.jazz.co/s/article/SparkHire-Integration" title="LEARN MORE" }}}
      <p><sub>in our knowledge base article.</sub></p>
      </center>
    </td>
  </tr>
</table>
<table class="main grey dark last">
  <tr>
    <td class="wrapper">
      <center style="margin: 0; padding: 0;">
      <p>
      These Interview improvements will go live on <strong>Monday, October 19th</strong>.
      </p>
      </center>
    </td>
  </tr>
</table>