---
layout: default.hbs
---

<table class="main dark hero first">
  <tr>
    <td class="wrapper">
      <h1>Header Image</h1>
    </td>
  </tr>
</table>
<table class="main white last">
  <tr>
    <td class="wrapper">
      <p>Body Copy</p>
    </td>
  </tr>
</table>